body{
    margin:0;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle,#9bb5d8d2,#466796d1);
}

/* HEADER */
header{
    background-color:#1f3b6d;
    color:white;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    text-align:center;
    padding:10px;
    position:relative;
}

.logo-izq{
    width:50px;
    position:absolute;
    left:10px;
}

.logo-der{
    width:50px;
    position:absolute;
    right:10px;
}

.texto-header{
    width:100%;
}

.texto-header h1{ font-size:18px; }
.texto-header h2{ font-size:14px; }

/* MAIN */
.main{
    display:flex;
    justify-content:center;
    padding:20px;
}

/* CARD */
.card{
    background:#fff;
    padding:20px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);

    width:100%;
    max-width:400px;

    display:flex;
    flex-direction:column;
}

/* INPUT */
input{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:20px;
    border:1px solid #ccc;
    box-sizing:border-box;
}

/* BOTÓN */
button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:25px;
    background:#88A0BF;
    font-size:16px;
    cursor:pointer;
}

/* ANIMACIÓN PARA CELULAR */
button:active{
    transform:scale(0.95);
}

/* PREGUNTAS */
.pregunta{
    text-align:left;
}

.pregunta p{
    font-size:16px;
    font-weight:bold;
}

/* OPCIONES */
.opcion{
    display:flex;
    align-items:center;
    gap:10px;
    padding:12px;
    margin:10px 0;
    border-radius:10px;
    background:#f0f4f8;
}

.opcion input{
    width:18px;
    height:18px;
}

/* BARRA */
.barra{
    width:100%;
    height:10px;
    background:#ddd;
    border-radius:10px;
    margin-bottom:15px;
    overflow:hidden;
    display:none;
}

#progreso{
    height:100%;
    width:0%;
    background:#4facfe;
}

/* RESPONSIVE */
@media (max-width:600px){

    .logo-izq, .logo-der{
        width:45px;
    }

    .texto-header h1{
        font-size:16px;
    }

    .texto-header h2{
        font-size:12px;
    }

}
